<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mif.cms.dao.mapper.DocumentMapper" >
  <resultMap id="BaseResultMap" type="com.mif.cms.dao.model.Document" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="user" property="user" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, content, description, user, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from document
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from document
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mif.cms.dao.model.Document" >
    insert into document ( name, content, description, user, create_time, update_time)
    values ( #{name,jdbcType=VARCHAR},#{content,jdbcType=VARCHAR},#{description,jdbcType=VARCHAR},#{user,jdbcType=VARCHAR},now(),now())
  </insert>
  <insert id="insertSelective" parameterType="com.mif.cms.dao.model.Document" 
  useGeneratedKeys="true" keyProperty="id">
    insert into document
    <trim prefix="(" suffix=")" suffixOverrides="," >    
      <if test="name != null" >
        name,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="user != null" >
        user,
      </if>      
        create_time,
        update_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >    
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="user != null" >
        #{user,jdbcType=VARCHAR},
      </if>     
      	NOW(),NOW()     
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mif.cms.dao.model.Document" 
  useGeneratedKeys="true" keyProperty="id">
    update document
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="user != null" >
        user = #{user,jdbcType=VARCHAR},
      </if>
      update_time=now()
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mif.cms.dao.model.Document" >
    update document
    set name = #{name,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      user = #{user,jdbcType=VARCHAR},
    	update_time=now()
    where id = #{id,jdbcType=BIGINT}
  </update>
  
 
	<select id="selectById"  resultMap="BaseResultMap">
		select 
		 <include refid="Base_Column_List" />
		 from document
		where id =
			#{id,jdbcType=BIGINT}
	</select>
</mapper>