#index{
	height:100%;
}
.menu{
	float:left;
	width:200px;
}
.content{
	overflow:hidden;
}
#content{
	width:100%;
	min-height:1000px;
}
#index .menu ul li li.active{
	background:rgba(97,150,187,1);
	color:white;
}
.menu ul{
	padding:0px;
	list-style:none;
}
.menu ul li{
	
}
.menu ul li a{
	background-color: #467ca2;
    border: solid 1px #316a91;
    border-bottom: 0;
    height:36px;
    font-size:14px;
    display:block;
    line-height:36px;
    color:white;
    cursor:pointer;
    text-decoration:none;
}
.menu ul li ul li{
	padding-left:20px;
	background-color: #d6e6f1;
    border-color: #6196bb;
    height:36px;
    font-size:12px;
    line-height:36px;
    cursor:pointer;
}